node_modules/
build/
dist/
.env
.DS_Store
coverage/
serviceAccountKey.json
dataconnect-generated/
firestore-debug.log
# Ignore Firebase debug log
firebase-debug.log
/public/
/coverage/
/sync_tmp_backups/
/firebase/
